.container {
  padding: 0 2rem;
  height: 100vh;
  width: 100%;
  background-color: ghostwhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 3rem;
}

.btn {
  padding: 0.5rem 2rem;
  font-weight: 700;
  font-size: 1.2rem;
}
